/*This is the style sheet for my Web Basics Project website*/

/*colors 
pink #F1C0E6
brown #80523E
*/

body {
    font-family: sans-serif;
    background-color: #80523E;
    color: #F1C0E6;
}

:link {color: blue}
:visited {color: red}/*
h1:hover {color: forestgreen}*/
:focus {background-color: orange}

audio {
    height: 2em;
    filter: hue-rotate(100deg) saturate(50) brightness(75%) opacity(100%);
}
td {
    background-color
}


#NYU { 
    color: #57068C; 
    font-family: sans-serif; /*research if I can legally add NYU Perstare*/
    :link {color: #57068C} 
    :visited {color: red}
    :hover {color: #57068C}
} 

#Pratt {
    color: #FFC819; /*options #FFC819, #F9BE28*/
    font-family: sans-serif;
    :hover {
        color:#FFC819;
    }
} 



footer {
    font-family: cursive;
    font-size: .5em;
    color: #80523E;
    background-color: #F1C0E6;
    margin: 10px;
    padding: 10px 50px;
    border: 10px;
    border-style: solid;
    border-color;
    position: fixed;
    bottom: 0;
    text-align: left;
   
}
ol {
    text-align: justify-all;
}

.header {
    font-family: cursive;
    text-align: center;
    color: #F1C0E6;
}