/*This is the style sheet for my Web Basics Project website*/

/*colors 
pink #F1C0E6
brown #80523E
unclick, click #CE3666, 
*/
/* box test
* {
    border: 1px solid black;
} */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'ubuntu', sans-serif;
    background-color: #80523E;
    color: #F1C0E6;
    padding-bottom: 50px;
}

:link {color: #CE3666}
:visited {color: #4C113F}/*
h1:hover {color: forestgreen}*/
:focus {background-color: white}


.header {
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    color: #F1C0E6;
    background-color: #80523E;
    width: 10em;
    height: 80px;
    margin: auto;
    text-decoration: none;
    
}


.header p {
    color: #F1C0E6;
    font-size: 40px; 

}


.header :link {
        color: #F1C0E6;
        text-decoration: none;
    }
.header :focus {
    color: #F1C0E6;
    background-color: #80523E;
}
.header :visited {color: #F1C0E6;}
.header :hover {
    color: #80523E;
    background-color: #F1C0E6;
}

ol {
    padding-bottom: 1em;
}


.aboutme {
    padding: 0px;
    width: 300px;
    float: right;
    
}

.directory {
    margin-top: 3em;
}

/*I am sure there's a way to make it so that I can set the :visited pseudoclass to have the color = the :link color but I couldn't figure out how so each home button has a different class. Or there isn't a way and using an image would be better*/

.SiteHome{
    text-decoration: none;
    color: #CE3666;
    
}

.SiteHome :link {
    text-decoration: none;
    color: #CE3666;
}

.SiteHome :visited {
    text-decoration: none;
    color: #CE3666;
}


.NYUHome {
    text-decoration: none;
    color: #57068C; 
}

.NYUHome :link {
    text-decoration: none;
}

.NYUHome :visited {
    color: #57068C;
    text-decoration: none;
}

.PrattHome {
    text-decoration: none;
    color: #FFC819;
}
.PrattHome :link{
    text-decoration: none;
    color: #FFC819;
}

.PrattHome :visited {
    text-decoration: none;
    color: #FFC819;
}

.PrattHome :hover {
    background-color: black;
}






audio {
    height: 2em;
    filter: hue-rotate(120deg) saturate(50) brightness(75%) opacity(100%); 
    border-radius: 60%;
    
}

video {
    border-radius: 5%;
}
/* not sure what I wanted to do here
td {
    background-color
}
*/


#NYU { 
    color: #57068C; 
    /*font-family: sans-serif; research if I can legally add NYU Perstare (and want to)*/
  /*  :link {color: #57068C} */
    
} 
#NYU :hover {
        color: #57068C
}

#Pratt {
    color: #FFC819; /*options #FFC819, #F9BE28*/
    /* font-family: sans-serif;  research Pratt's font*/
   /* :link {color: #FFC819}*/

} 

#Pratt :hover {
        color: #FFC819
}


.navbar {
    color: #F1C0E6;
    margin: 10px;
    padding: 0px;
    border: 0px;
    border-style: solid;
   /* border-color; */
    position: fixed;
    bottom: 0; 
    left: 0;
    text-align: center;
    
}

footer {
    font-family: cursive;
    font-size: .5em;
    color: #80523E;
    background-color: #F1C0E6;
    margin: 10px;
    padding: 10px 50px;
    border: 0px;
   /* border-style: solid;
    border-color; */
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: left;
    
}
footer :link{
        text-decoration: none;
    }